.menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 11px 21px;
  background: #FEE382;
  border-radius: 25px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #282630;
  cursor: pointer;
  margin-right: 25px;
}
.order {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 11px 21px;
  background: #FEE382;
  border-radius: 25px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #282630;
  cursor: pointer;
  margin-right: 25px;
}

.menu:hover {
  background-color: blue;
  color: white;
}

.order:hover {
  background-color: blue;
  color: white;
}