@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-container {
  max-width: 100%;
  background-color: #FAFAFA;
}

header {
  padding: 0px 50px 50px 55px;
}

header .nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .nav-flex .logo .header-logo {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
}

header .nav-flex .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .nav-flex .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  text-decoration: none;
}

header .nav-flex .navbar ul li {
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  line-height: 21px;
  list-style: none;
  text-decoration: none;
  padding-right: 50px;
}

header .nav-flex .navbar ul li a {
  text-decoration: none;
  color: #282630;
  font-size: 14px;
  line-height: 21px;
}

header .nav-flex .navbar ul li a:hover {
  color: blue;
  font-size: 18px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

header .nav-flex .navbar .nav-icons {
  width: 100px;
  min-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .nav-flex .navbar .nav-icons i {
  font-size: 17px;
  width: 17px;
  height: 17px;
}

header .nav-flex .navbar .nav-icons i:hover {
  color: blue;
  font-size: 18px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

header .main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .main-info .main-info:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .main-info .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 130px;
  margin-top: 500px;
}

header .main-info .social i.fab.fa-facebook-f {
  height: 16px;
  width: 8px;
}

header .main-info .social i.fab.fa-linkedin-in {
  height: 16px;
  width: 15px;
}

header .main-info .social i.fab.fa-twitter {
  height: 13px;
  width: 16px;
}

header .main-info .images-logo .main-pic {
  width: 640px;
  height: 635px;
  -webkit-filter: drop-shadow(18px 32px 24px rgba(0, 0, 0, 0.12));
          filter: drop-shadow(18px 32px 24px rgba(0, 0, 0, 0.12));
  position: relative;
}

header .main-info .images-logo .main-pic::after {
  content: '';
  border: 1px solid #FEE382;
  position: absolute;
  width: 801px;
  height: 801px;
  left: 194px;
  top: 64px;
}

header .main-info .images-logo .tomato-1 {
  position: absolute;
  top: 700px;
}

header .main-info .images-logo .tomato-2 {
  position: absolute;
  top: 285px;
  left: 890px;
}

header .main-info .main-information h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 87px;
  line-height: 144px;
  color: #282630;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}

header .main-info .main-information h1::after {
  content: '';
  width: 116px;
  height: 3px;
  background: #282630;
  position: absolute;
  left: 10px;
  top: 160px;
}

header .main-info .main-information p {
  font-family: 'Cabin', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #65636A;
  max-width: 470px;
}

header .main-info .main-information .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-info .main-information .buttons .menu,
header .main-info .main-information .buttons .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 21px;
  background: #FEE382;
  border-radius: 25px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #282630;
  cursor: pointer;
  margin-right: 25px;
}

header .main-info .main-information .buttons .menu:hover {
  background-color: blue;
  color: white;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

header .main-info .main-information .buttons .order:hover {
  background-color: blue;
  color: white;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

main {
  background-color: #F5F5F5;
}

main .food {
  margin: 0px 50px 0px 55px;
  background-color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .food .main-imag::before {
  content: '430 kkal $24';
  background: url(Images/Ellipse-7.png);
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

main .food .main-salad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

main .food .main-salad .kkal {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: url(Images/Ellipse-7.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  left: -252px;
  top: 137px;
}

main .food .main-salad .kkal::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  border: 1px solid #FFDD63;
  width: 144px;
  height: 144px;
}

main .food .main-salad .kkal p {
  font-family: 'Cabin', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: #65636A;
  margin: 5px;
  position: relative;
  font-weight: bolder;
}

main .food .main-salad .kkal p .numb {
  position: relative;
}

main .food .main-salad .kkal p .numb::after {
  content: '';
  position: absolute;
  width: 90px;
  border: 2px solid white;
}

main .food .main-salad .main-imag {
  width: 555px;
  height: 556px;
  position: relative;
}

main .food .main-salad h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #282630;
}

main .food .main-salad p {
  max-width: 350px;
  font-family: 'Cabin', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #65636A;
}

main .food .main-salad .salad-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .food .main-salad .salad-buttons .order,
main .food .main-salad .salad-buttons .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 21px;
  background: #FEE382;
  border-radius: 25px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #282630;
  cursor: pointer;
  margin-right: 25px;
}

main .food .main-salad .salad-buttons .menu:hover {
  background-color: blue;
  color: white;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

main .food .main-salad .salad-buttons .order:hover {
  background-color: blue;
  color: white;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

main .food .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .food .menu h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: #282630;
  position: relative;
}

main .food .menu h1::before {
  content: '';
  position: absolute;
  background-color: #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 94px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 94px;
  border-radius: 50%;
  background-image: url(Images/arrow-down.png);
  background-repeat: no-repeat;
  background-position-x: 42px;
  background-position-y: 21px;
  right: -220px;
  top: -110px;
  z-index: 2;
}

main .food .menu h1::after {
  content: '';
  position: absolute;
  width: 64px;
  height: 3px;
  background: #282630;
  left: 3px;
  top: 80px;
}

main .food .menu .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .food .menu .menu-items:nth-child(2) {
  margin-top: 20px;
}

main .food .menu .menu-items .salad-2,
main .food .menu .menu-items .pasta,
main .food .menu .menu-items .salad-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .food .menu .menu-items h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #282630;
  padding-bottom: 12px;
}

main .food .menu .menu-items p {
  font-family: 'Cabin', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #65636A;
  padding-bottom: 20px;
}

main .food .menu .menu-items .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 21px;
  background: #FEE382;
  border-radius: 25px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #282630;
  cursor: pointer;
}

main .food .menu .menu-items .order:hover {
  background-color: blue;
  color: white;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.explain {
  margin-top: 50px;
  padding: 0px 50px 0px 55px;
  background: #FEE382;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.explain h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: #282630;
  padding-top: 40px;
  position: relative;
}

.explain h1::after {
  content: '';
  position: absolute;
  width: 64px;
  height: 3px;
  background: #282630;
  left: 5px;
  top: 120px;
}

.explain .explain-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 80px;
}

.explain .explain-items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.explain .explain-items .item img {
  margin-top: 80px;
  height: 55px;
  width: auto;
}

.explain .explain-items h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  color: #282630;
}

.explain .explain-items p {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #65636A;
  max-width: 240px;
}

.reviev {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviev h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  line-height: 72px;
  color: #282630;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}

.reviev h1::after {
  content: '';
  width: 116px;
  height: 3px;
  background: #282630;
  position: absolute;
  left: 3px;
  top: 85px;
}

.reviev .callbacks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.reviev .callbacks .left-arrow {
  width: 54px;
  height: 54px;
  border: 1px solid #DEDEDE;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviev .callbacks .left-arrow:hover {
  border: 2px solid blue;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.reviev .callbacks .call-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.reviev .callbacks .call-items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

.reviev .callbacks .call-items p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #342B2B;
}

.reviev .callbacks .call-items .text {
  width: 344px;
  font-family: 'Cabin', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #65636A;
}

.reviev .slider {
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}
/*# sourceMappingURL=style.css.map */